/* ======= BETA Corner ======= */
body:after{
  content: "alpha";
  position: fixed;
  z-index: 999999;
  width: 80px;
  height: 25px;
  background: #074f66;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  opacity: 0.8;
}

/* ======= Discussions Section ======= */
.discussions {
  padding: 80px 0;
  background: #17baef;
  color: #fff;
}

.discussions .title {
  color: #074f66;
  margin-top: 0;
  margin-bottom: 30px;
}

.discussions .discussions-list li {
  margin-bottom: 10px;
  color: #074f66;
}

.discussions .discussion-list li .svg-inline--fa {
  margin-right: 5px;
  color: #fff;
}

/* https://www.bootdey.com/snippets/view/Search-users-page-result#html */
.search-result-categories>li>a {
  color: #b6b6b6;
  font-weight: 400;
}

.search-result-categories>li>a:hover {
  background-color: #ddd;
  color: #555;
}

.search-result-categories>li>a>.glyphicon {
  margin-right: 5px;
}

.search-result-categories>li>a>.badge {
  float: right;
}

.search-results-count {
  margin-top: 10px;
}

.search-result-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  color: #444;
}

.search-result-item .text-align-right {
  text-align: right;
}

.search-result-item:after,
.search-result-item:before {
  content: " ";
  display: table;
}

.search-result-item:after {
  clear: both;
}

.search-result-item .image-link {
  display: block;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media (min-width:768px) {
  .search-result-item .image-link {
      display: inline-block;
      margin: -20px 0 -20px -20px;
      float: left;
      width: 200px;
  }
}

@media (max-width:767px) {
  .search-result-item .image-link {
      max-height: 200px;
  }
}

.search-result-item .image {
  max-width: 100%;
}

.search-result-item .info {
  margin-top: 2px;
  font-size: 12px;
  color: #999;
}

.search-result-item .info .info-right {
  float: right;
}

.search-result-item .description {
  font-size: 16px;
  color: #888;
}

.search-result-item a.btn-cta-secondary, .btn-cta-secondary {
  color: #074f66;
}

.search-result-item+.search-result-item {
  margin-top: 20px;
}

@media (min-width:768px) {
  .search-result-item-body {
      margin-left: 0px; /* set this to 200px if you want to have an <a> tag with an image left to the item-body. */
  }
}

.search-result-item-heading {
  margin-top: 0;
  color: #074f66;
  font-size: 18px;
}

.search-result-item-heading>a {
  color: #555;
}

@media (min-width:768px) {
  .search-result-item-heading {
      margin: 0;
  }
}

.atc-link {
  display: block;
  line-height: 100%;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  padding: 14px 10px 14px 55px;
  margin: -2px 0px;
}

.atc-apple {
  background: url(../images/apple.svg) 16px 50% no-repeat;
}

.atc-google {
  background: url(../images/google.svg) 18px 50% no-repeat;
  background-size: 22px 100%;
}

.atc-office365 {
  background: url(../images/office-365.svg) 18px 50% no-repeat;
  background-size: 22px 100%;
}

.atc-outlook {
  background: url(../images/outlook.svg) 13px 50% no-repeat;
  background-size: 37px 100%;
}

.atc-outlookCom {
  background: url(../images/outlookCom.svg) 13px 50% no-repeat;
  background-size: 37px 100%;
}

.atc-yahoo {
  background: url(../images/yahoo.svg) 14px 50% no-repeat;
}